---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
---

<div class="ag-site-footer">
  <DefaultFooter />

  <div class="ag-footer-utility" aria-label="Site links">
    <a href="https://www.npmjs.com/package/astro-gravatar">npm package</a>
    <a href="https://github.com/imjlk/astro-gravatar">GitHub repository</a>
    <a href="https://github.com/imjlk/astro-gravatar/issues">Issues / support</a>
    <a href="/privacy/">Privacy</a>
    <button type="button" data-open-privacy-settings>Privacy settings</button>
  </div>
</div>
